<h1>Reset Your Password</h1>
<p>Hello, <%= @user.email %>,</p>
<p>Click the link below to reset your password:</p>
<p><a href="<%= ENV['REACT_APP_BASE_URL'] || 'http://localhost:3000' %>/reset_password/<%= @user.reset_password_token %>">Reset Password</a></p>


